In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
censusData = ("./CensusData/ReferenceCCAProfiles20132017 (1).csv")
censusDF = pd.read_csv(censusData)
censusDF.head()

,GEOG,2000_POP,2010_POP,TOT_POP,UND19,A20_34,A35_49,A50_64,A65_74,A75_84,...,highly_walkable_pop_pct,highly_walkable_emp_pct,assoc_plus_pct,in_lbr_frc_pct,pct_pop_access_4_acres_per_1k,pct_pop_access_10_acres_per_1k,impervious_acres_per_hh,modhigh_ta_pop_pct,modhigh_ta_emp_pct,nonsov_pct
0,Albany Park,57655,51542,51992,13299,14031,11658,8134,2603,1573,...,1.000000,1.000000,0.390574,0.807084,0.000000,0.0,0.050373,1.0,1.0,0.499174
1,Archer Heights,12644,13393,13142,4017,2827,2925,1818,970,323,...,1.000000,0.796716,0.159882,0.805830,0.000000,0.0,0.270191,1.0,1.0,0.363994
2,Armour Square,12032,13391,13455,2634,2816,2376,2522,1540,1097,...,1.000000,1.000000,0.265896,0.798455,0.200206,0.0,0.097348,1.0,1.0,0.620298
3,Ashburn,39584,41081,43792,12999,8377,9200,8567,3031,999,...,0.792998,0.621943,0.303683,0.787867,0.144637,0.0,0.153915,1.0,1.0,0.294516
4,Auburn Gresham,55928,48743,46278,11696,9176,7871,9857,3810,2966,...,0.983347,0.995529,0.223910,0.698409,0.027726,0.0,0.084098,1.0,1.0,0.401112

In [3]:
censusDF.columns
censusDF.shape

(77, 231)

In [4]:
ethnicityData = ('./CensusData/ETL Project Ethnic Breakout.csv')
ethnicityDF = pd.read_csv(ethnicityData)

ethnicityDF.head()

,GEOG,WHITE,HISP,BLACK,ASIAN,OTHER,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 139,Unnamed: 140,Unnamed: 141,Unnamed: 142,Unnamed: 143,Unnamed: 144,Unnamed: 145,Unnamed: 146,Unnamed: 147,Unnamed: 148
0,Albany Park,15608,24927,2401,7536,1520,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Archer Heights,2213,10181,115,581,52,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Armour Square,1728,538,1218,9832,138,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ashburn,4745,16924,20837,315,971,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Auburn Gresham,324,862,44435,143,514,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
ethnicityDF = ethnicityDF[["GEOG", "WHITE", "HISP", "BLACK", "ASIAN", "OTHER"]]
ethnicityDF.head()

             GEOG  WHITE   HISP  BLACK  ASIAN  OTHER
0     Albany Park  15608  24927   2401   7536   1520
1  Archer Heights   2213  10181    115    581     52
2   Armour Square   1728    538   1218   9832    138
3         Ashburn   4745  16924  20837    315    971
4  Auburn Gresham    324    862  44435    143    514

In [6]:
ethnicityDF.values

array([['Albany Park', 15608, 24927, 2401, 7536, 1520],
       ['Archer Heights', 2213, 10181, 115, 581, 52],
       ['Armour Square', 1728, 538, 1218, 9832, 138],
       ['Ashburn', 4745, 16924, 20837, 315, 971],
       ['Auburn Gresham', 324, 862, 44435, 143, 514],
       ['Austin', 4403, 12398, 76989, 483, 987],
       ['Avalon Park', 61, 66, 9705, 38, 115],
       ['Avondale', 12843, 21491, 784, 1537, 713],
       ['Belmont Cragin', 10745, 64782, 2103, 1562, 719],
       ['Beverly', 12012, 1095, 7031, 163, 521],
       ['Bridgeport', 11315, 8061, 848, 13135, 279],
       ['Brighton Park', 3160, 37301, 433, 3623, 296],
       ['Burnside', 10, 33, 2197, 0, 14],
       ['Calumet Heights', 219, 457, 12426, 13, 73],
       ['Chatham', 509, 385, 29829, 111, 286],
       ['Chicago Lawn', 1878, 26322, 23801, 227, 870],
       ['Clearing', 11176, 13698, 400, 184, 433],
       ['Douglas', 2297, 661, 14718, 2655, 450],
       ['Dunning', 28165, 12245, 807, 2202, 270],
       ['East Garfield Park', 1120, 719, 17729, 145, 284],
       ['East Side', 3841, 19092, 695, 65, 44],
       ['Edgewater', 30785, 9326, 7446, 6579, 1829],
       ['Edison Park', 9599, 1201, 194, 309, 301],
       ['Englewood', 181, 843, 23711, 68, 272],
       ['Forest Glen', 13444, 2613, 188, 2395, 378],
       ['Fuller Park', 75, 173, 2175, 12, 4],
       ['Gage Park', 1532, 37659, 1448, 193, 41],
       ['Garfield Ridge', 16263, 17848, 1602, 360, 323],
       ['Grand Boulevard', 603, 387, 20546, 88, 689],
       ['Greater Grand Crossing', 393, 450, 30556, 4, 363],
       ['Hegewisch', 3654, 5405, 341, 0, 18],
       ['Hermosa', 2205, 20469, 753, 440, 277],
       ['Humboldt Park', 3480, 31676, 19849, 385, 1037],
       ['Hyde Park', 12453, 2246, 7366, 3559, 1203],
       ['Irving Park', 22786, 23704, 1479, 4786, 1851],
       ['Jefferson Park', 17522, 5948, 236, 2476, 626],
       ['Kenwood', 2913, 397, 11724, 1582, 573],
       ['Lake View', 79382, 8323, 3475, 6441, 2849],
       ['Lincoln Park', 53512, 4446, 3206, 4653, 1893],
       ['Lincoln Square', 26782, 6978, 1594, 4650, 1711],
       ['Logan Square', 33559, 31793, 3657, 2347, 1690],
       ['Lower West Side', 5268, 25116, 1288, 803, 413],
       ['McKinley Park', 2667, 9550, 164, 3106, 280],
       ['Montclare', 4535, 8088, 518, 448, 240],
       ['Morgan Park', 6209, 843, 14712, 30, 599],
       ['Mount Greenwood', 16330, 1652, 629, 433, 233],
       ['Near North Side', 63507, 5305, 8049, 9982, 2050],
       ['Near South Side', 11063, 1247, 5537, 5098, 675],
       ['Near West Side', 26122, 6245, 18151, 10780, 1574],
       ['New City', 4858, 24525, 8838, 1031, 309],
       ['North Center', 27568, 4192, 668, 1791, 1570],
       ['North Lawndale', 966, 3140, 31270, 77, 494],
       ['North Park', 9789, 3154, 541, 4703, 655],
       ['Norwood Park', 30218, 4377, 165, 1231, 1098],
       ['Oakland', 172, 324, 5959, 140, 50],
       ["O'Hare", 9886, 800, 151, 981, 559],
       ['Portage Park', 32324, 26215, 901, 3260, 1607],
       ['Pullman', 680, 307, 5495, 10, 121],
       ['Riverdale', 151, 306, 6882, 23, 32],
       ['Rogers Park', 23754, 12072, 14521, 2792, 1923],
       ['Roseland', 456, 548, 40849, 126, 454],
       ['South Chicago', 791, 5885, 21317, 15, 255],
       ['South Deering', 600, 4591, 9360, 1, 62],
       ['South Lawndale', 2856, 62512, 9101, 142, 240],
       ['South Shore', 1459, 660, 47315, 270, 714],
       ['The Loop', 22244, 2471, 3945, 6226, 994],
       ['Uptown', 31602, 8324, 10487, 5812, 1748],
       ['Washington Heights', 183, 215, 26293, 8, 754],
       ['Washington Park', 85, 278, 10760, 14, 365],
       ['West Elsdon', 2727, 15840, 266, 380, 24],
       ['West Englewood', 289, 1918, 27304, 4, 414],
       ['West Garfield Park', 384, 356, 16206, 44, 172],
       ['West Lawn', 5033, 26666, 1152, 185, 72],
       ['West Pullman', 158, 1682, 25634, 65, 203],
       ['West Ridge', 32173, 14256, 9201, 17200, 3385],
       ['West Town', 51498, 21219, 5630, 3725, 2430],
       ['Woodlawn', 2051, 695, 19279, 711, 532]], dtype=object)

In [7]:
ethnicityDF = ethnicityDF.rename(columns = {'GEOG':"Neighborhood"})
ethnicityDF.head()

     Neighborhood  WHITE   HISP  BLACK  ASIAN  OTHER
0     Albany Park  15608  24927   2401   7536   1520
1  Archer Heights   2213  10181    115    581     52
2   Armour Square   1728    538   1218   9832    138
3         Ashburn   4745  16924  20837    315    971
4  Auburn Gresham    324    862  44435    143    514

In [8]:
zipData = ('./CensusData/northside zip.txt')
zipDF = pd.read_table(zipData, delim_whitespace= False, names=('Neighborhood', 'Zip'))
print(zipDF)

                            Neighborhood  Zip
0                  Neighborhood^Zip Code  NaN
1               Alta Vista Terrace^60613  NaN
2                   Belmont Harbor^60657  NaN
3                 Boys Town^60613, 60657  NaN
4           Bucktown^60614, 60622, 60647  NaN
5                           DePaul^60614  NaN
6                  Lakeview^60613, 60657  NaN
7                 Lakeview Central^60657  NaN
8             Lakeview East^60613, 60657  NaN
9              Lincoln Park^60610, 60614  NaN
10                  Lincoln Square^60625  NaN
11             North Center^60613, 60618  NaN
12            North Halsted^60613, 60657  NaN
13               Old Town Triangle^60614  NaN
14                       Park West^60614  NaN
15                  Ranch Triangle^60614  NaN
16           Roscoe Village^60618, 60657  NaN
17                       Sheffield^60614  NaN
18                          Uptown^60640  NaN
19                     West DePaul^60614  NaN
20            Wrightwood Neighbors^60614  NaN
21                    Wrigleyville^60613  NaN
22                   Andersonville^60640  NaN
23                   Budlong Woods^60625  NaN
24               Buena Park^60613, 60640  NaN
25          East Ravenswood^60613, 60640  NaN
26                Edgewater^60640, 60660  NaN
27           Edgewater Glen^60640, 60660  NaN
28                     Edison Park^60631  NaN
29         Middle Edgebrook^60630, 60646  NaN
30          North Edgebrook^60630, 60646  NaN
31                 Old Irving Park^60641  NaN
32                   Peterson Park^60659  NaN
33        Ravenswood^60613, 60625, 60640  NaN
34               West Ridge^60645, 60659  NaN
35  West Rogers Park^60645, 60659, 60660  NaN
36                     Albany Park^60625  NaN
37                       Avondale ^60618  NaN
38          Belmont Gardens^60639, 60641  NaN
39                     Forest Glen^60630  NaN
40                     Irving Park^60618  NaN
41                  Jefferson Park^60630  NaN
42                         Mayfair^60630  NaN
43                      North Park^60625  NaN
44                    Norwood Park^60631  NaN
45                   Old Edgebrook^60646  NaN
46                Old Norwood Park^60631  NaN
47             Portage Park^60634, 60641  NaN
48                Ravenswood Manor^60625  NaN
49                Sauganash^60630, 60646  NaN
50                 Sauganash Woods^60630  NaN
51            Schorsch Forest View^60656  NaN
52                 South Edgebrook^60646  NaN
53                     Union Ridge^60656  NaN

In [9]:
tmpDF = pd.DataFrame(columns=['A','B'])
tmpDF[['A','B']] = zipDF['Neighborhood'].str.split('^', expand=True)

tmpDF.head(25)

                       A                    B
0           Neighborhood             Zip Code
1     Alta Vista Terrace                60613
2         Belmont Harbor                60657
3              Boys Town         60613, 60657
4               Bucktown  60614, 60622, 60647
5                 DePaul                60614
6               Lakeview         60613, 60657
7       Lakeview Central                60657
8          Lakeview East         60613, 60657
9           Lincoln Park         60610, 60614
10        Lincoln Square                60625
11          North Center         60613, 60618
12         North Halsted         60613, 60657
13     Old Town Triangle                60614
14             Park West                60614
15        Ranch Triangle                60614
16        Roscoe Village         60618, 60657
17             Sheffield                60614
18                Uptown                60640
19           West DePaul                60614
20  Wrightwood Neighbors                60614
21          Wrigleyville                60613
22         Andersonville                60640
23         Budlong Woods                60625
24            Buena Park         60613, 60640

In [10]:
zipDF = tmpDF.copy()

In [11]:
zipDF

                       A                    B
0           Neighborhood             Zip Code
1     Alta Vista Terrace                60613
2         Belmont Harbor                60657
3              Boys Town         60613, 60657
4               Bucktown  60614, 60622, 60647
5                 DePaul                60614
6               Lakeview         60613, 60657
7       Lakeview Central                60657
8          Lakeview East         60613, 60657
9           Lincoln Park         60610, 60614
10        Lincoln Square                60625
11          North Center         60613, 60618
12         North Halsted         60613, 60657
13     Old Town Triangle                60614
14             Park West                60614
15        Ranch Triangle                60614
16        Roscoe Village         60618, 60657
17             Sheffield                60614
18                Uptown                60640
19           West DePaul                60614
20  Wrightwood Neighbors                60614
21          Wrigleyville                60613
22         Andersonville                60640
23         Budlong Woods                60625
24            Buena Park         60613, 60640
25       East Ravenswood         60613, 60640
26             Edgewater         60640, 60660
27        Edgewater Glen         60640, 60660
28           Edison Park                60631
29      Middle Edgebrook         60630, 60646
30       North Edgebrook         60630, 60646
31       Old Irving Park                60641
32         Peterson Park                60659
33            Ravenswood  60613, 60625, 60640
34            West Ridge         60645, 60659
35      West Rogers Park  60645, 60659, 60660
36           Albany Park                60625
37             Avondale                 60618
38       Belmont Gardens         60639, 60641
39           Forest Glen                60630
40           Irving Park                60618
41        Jefferson Park                60630
42               Mayfair                60630
43            North Park                60625
44          Norwood Park                60631
45         Old Edgebrook                60646
46      Old Norwood Park                60631
47          Portage Park         60634, 60641
48      Ravenswood Manor                60625
49             Sauganash         60630, 60646
50       Sauganash Woods                60630
51  Schorsch Forest View                60656
52       South Edgebrook                60646
53           Union Ridge                60656

In [12]:
zipDF = zipDF.rename(columns = {'A':"Neighborhood", 'B':"Zip"})
zipDF.head()

         Neighborhood                  Zip
0        Neighborhood             Zip Code
1  Alta Vista Terrace                60613
2      Belmont Harbor                60657
3           Boys Town         60613, 60657
4            Bucktown  60614, 60622, 60647

In [13]:
zipDF = zipDF.drop(zipDF.index[0])
zipDF.head()

         Neighborhood                  Zip
1  Alta Vista Terrace                60613
2      Belmont Harbor                60657
3           Boys Town         60613, 60657
4            Bucktown  60614, 60622, 60647
5              DePaul                60614

In [14]:
zipDF.dtypes

Neighborhood    object
Zip             object
dtype: object

In [15]:
zipDF.values

array([['Alta Vista Terrace', '60613'],
       ['Belmont Harbor', '60657'],
       ['Boys Town', '60613, 60657'],
       ['Bucktown', '60614, 60622, 60647'],
       ['DePaul', '60614'],
       ['Lakeview', '60613, 60657'],
       ['Lakeview Central', '60657'],
       ['Lakeview East', '60613, 60657'],
       ['Lincoln Park', '60610, 60614'],
       ['Lincoln Square', '60625'],
       ['North Center', '60613, 60618'],
       ['North Halsted', '60613, 60657'],
       ['Old Town Triangle', '60614'],
       ['Park West', '60614'],
       ['Ranch Triangle', '60614'],
       ['Roscoe Village', '60618, 60657'],
       ['Sheffield', '60614'],
       ['Uptown', '60640'],
       ['West DePaul', '60614'],
       ['Wrightwood Neighbors', '60614'],
       ['Wrigleyville', '60613'],
       ['Andersonville', '60640'],
       ['Budlong Woods', '60625'],
       ['Buena Park', '60613, 60640'],
       ['East Ravenswood', '60613, 60640'],
       ['Edgewater', '60640, 60660'],
       ['Edgewater Glen', '60640, 60660'],
       ['Edison Park', '60631'],
       ['Middle Edgebrook', '60630, 60646'],
       ['North Edgebrook', '60630, 60646'],
       ['Old Irving Park', '60641'],
       ['Peterson Park', '60659'],
       ['Ravenswood', '60613, 60625, 60640'],
       ['West Ridge', '60645, 60659'],
       ['West Rogers Park', '60645, 60659, 60660'],
       ['Albany Park', '60625'],
       ['Avondale ', '60618'],
       ['Belmont Gardens', '60639, 60641'],
       ['Forest Glen', '60630'],
       ['Irving Park', '60618'],
       ['Jefferson Park', '60630'],
       ['Mayfair', '60630'],
       ['North Park', '60625'],
       ['Norwood Park', '60631'],
       ['Old Edgebrook', '60646'],
       ['Old Norwood Park', '60631'],
       ['Portage Park', '60634, 60641'],
       ['Ravenswood Manor', '60625'],
       ['Sauganash', '60630, 60646'],
       ['Sauganash Woods', '60630'],
       ['Schorsch Forest View', '60656'],
       ['South Edgebrook', '60646'],
       ['Union Ridge', '60656']], dtype=object)

In [16]:
mergedHoodZip = pd.merge(ethnicityDF, zipDF, how = 'right')
mergedHoodZip

,Neighborhood,WHITE,HISP,BLACK,ASIAN,OTHER,Zip
0,Albany Park,15608.0,24927.0,2401.0,7536.0,1520.0,60625
1,Edgewater,30785.0,9326.0,7446.0,6579.0,1829.0,"60640, 60660"
2,Edison Park,9599.0,1201.0,194.0,309.0,301.0,60631
3,Forest Glen,13444.0,2613.0,188.0,2395.0,378.0,60630
4,Irving Park,22786.0,23704.0,1479.0,4786.0,1851.0,60618
5,Jefferson Park,17522.0,5948.0,236.0,2476.0,626.0,60630
6,Lincoln Park,53512.0,4446.0,3206.0,4653.0,1893.0,"60610, 60614"
7,Lincoln Square,26782.0,6978.0,1594.0,4650.0,1711.0,60625
8,North Center,27568.0,4192.0,668.0,1791.0,1570.0,"60613, 60618"
9,North Park,9789.0,3154.0,541.0,4703.0,655.0,60625
10,Norwood Park,30218.0,4377.0,165.0,1231.0,1098.0,60631
11,Portage Park,32324.0,26215.0,901.0,3260.0,1607.0,"60634, 60641"
12,Uptown,31602.0,8324.0,10487.0,5812.0,1748.0,60640
13,West Ridge,32173.0,14256.0,9201.0,17200.0,3385.0,"60645, 60659"
14,Alta Vista Terrace,NaN,NaN,NaN,NaN,NaN,60613
15,Belmont Harbor,NaN,NaN,NaN,NaN,NaN,60657
16,Boys Town,NaN,NaN,NaN,NaN,NaN,"60613, 60657"
17,Bucktown,NaN,NaN,NaN,NaN,NaN,"60614, 60622, 60647"
18,DePaul,NaN,NaN,NaN,NaN,NaN,60614
19,Lakeview,NaN,NaN,NaN,NaN,NaN,"60613, 60657"
20,Lakeview Central,NaN,NaN,NaN,NaN,NaN,60657
21,Lakeview East,NaN,NaN,NaN,NaN,NaN,"60613, 60657"
22,North Halsted,NaN,NaN,NaN,NaN,NaN,"60613, 60657"
23,Old Town Triangle,NaN,NaN,NaN,NaN,NaN,60614
24,Park West,NaN,NaN,NaN,NaN,NaN,60614
25,Ranch Triangle,NaN,NaN,NaN,NaN,NaN,60614
26,Roscoe Village,NaN,NaN,NaN,NaN,NaN,"60618, 60657"
27,Sheffield,NaN,NaN,NaN,NaN,NaN,60614
28,West DePaul,NaN,NaN,NaN,NaN,NaN,60614
29,Wrightwood Neighbors,NaN,NaN,NaN,NaN,NaN,60614
30,Wrigleyville,NaN,NaN,NaN,NaN,NaN,60613
31,Andersonville,NaN,NaN,NaN,NaN,NaN,60640
32,Budlong Woods,NaN,NaN,NaN,NaN,NaN,60625
33,Buena Park,NaN,NaN,NaN,NaN,NaN,"60613, 60640"
34,East Ravenswood,NaN,NaN,NaN,NaN,NaN,"60613, 60640"
35,Edgewater Glen,NaN,NaN,NaN,NaN,NaN,"60640, 60660"
36,Middle Edgebrook,NaN,NaN,NaN,NaN,NaN,"60630, 60646"
37,North Edgebrook,NaN,NaN,NaN,NaN,NaN,"60630, 60646"
38,Old Irving Park,NaN,NaN,NaN,NaN,NaN,60641
39,Peterson Park,NaN,NaN,NaN,NaN,NaN,60659
40,Ravenswood,NaN,NaN,NaN,NaN,NaN,"60613, 60625, 60640"
41,West Rogers Park,NaN,NaN,NaN,NaN,NaN,"60645, 60659, 60660"
42,Avondale,NaN,NaN,NaN,NaN,NaN,60618
43,Belmont Gardens,NaN,NaN,NaN,NaN,NaN,"60639, 60641"
44,Mayfair,NaN,NaN,NaN,NaN,NaN,60630
45,Old Edgebrook,NaN,NaN,NaN,NaN,NaN,60646
46,Old Norwood Park,NaN,NaN,NaN,NaN,NaN,60631
47,Ravenswood Manor,NaN,NaN,NaN,NaN,NaN,60625
48,Sauganash,NaN,NaN,NaN,NaN,NaN,"60630, 60646"
49,Sauganash Woods,NaN,NaN,NaN,NaN,NaN,60630
50,Schorsch Forest View,NaN,NaN,NaN,NaN,NaN,60656
51,South Edgebrook,NaN,NaN,NaN,NaN,NaN,60646
52,Union Ridge,NaN,NaN,NaN,NaN,NaN,60656

In [17]:
rds_connection_string = "postgres:El_Mingo5454@localhost:5432/Project_2"
engine = create_engine(f'postgresql://{rds_connection_string}')
engine.table_names()

['zip', 'ethnicity', 'restaurants', 'mergedData', 'mergedData2']

In [18]:
mergedHoodZip.to_csv("NaNData.csv", index = False, header = True)

In [20]:
mergedHoodZip2 = pd.merge(ethnicityDF, zipDF, how = 'inner')
mergedHoodZip2

      Neighborhood  WHITE   HISP  BLACK  ASIAN  OTHER           Zip
0      Albany Park  15608  24927   2401   7536   1520         60625
1        Edgewater  30785   9326   7446   6579   1829  60640, 60660
2      Edison Park   9599   1201    194    309    301         60631
3      Forest Glen  13444   2613    188   2395    378         60630
4      Irving Park  22786  23704   1479   4786   1851         60618
5   Jefferson Park  17522   5948    236   2476    626         60630
6     Lincoln Park  53512   4446   3206   4653   1893  60610, 60614
7   Lincoln Square  26782   6978   1594   4650   1711         60625
8     North Center  27568   4192    668   1791   1570  60613, 60618
9       North Park   9789   3154    541   4703    655         60625
10    Norwood Park  30218   4377    165   1231   1098         60631
11    Portage Park  32324  26215    901   3260   1607  60634, 60641
12          Uptown  31602   8324  10487   5812   1748         60640
13      West Ridge  32173  14256   9201  17200   3385  60645, 60659

In [22]:
mergedHoodZip2['Zip']

0            60625
1     60640, 60660
2            60631
3            60630
4            60618
5            60630
6     60610, 60614
7            60625
8     60613, 60618
9            60625
10           60631
11    60634, 60641
12           60640
13    60645, 60659
Name: Zip, dtype: object

In [23]:
mergedHoodZip2['Zip'].to_csv('zipCodes.csv', index = False, header = False)

In [25]:
ethnicityDF.columns

Index(['Neighborhood', 'WHITE', 'HISP', 'BLACK', 'ASIAN', 'OTHER'], dtype='object')

In [26]:
zipDF.columns

Index(['Neighborhood', 'Zip'], dtype='object')

In [27]:
mergedHoodZip.columns

Index(['Neighborhood', 'WHITE', 'HISP', 'BLACK', 'ASIAN', 'OTHER', 'Zip'], dtype='object')

In [28]:
mergedHoodZip2.columns

Index(['Neighborhood', 'WHITE', 'HISP', 'BLACK', 'ASIAN', 'OTHER', 'Zip'], dtype='object')

In [33]:
mergedHoodZip2.to_csv('./SQLData/importSQLmerged1.csv', index = False, header = True)
ethnicityDF.to_csv('./SQLData/importSQLethnicity.csv', index = False, header = True)
zipDF.to_csv('./SQLData/importSQLzip.csv', index = False, header = True)